<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Historial </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="enviarEmail()">
        <ion-icon slot="icon-only" name="send"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item
      *ngFor="let registre of data.registres"
      detail
      (click)="obrirRegistre(registre)"
    >
      <ion-icon slot="start" [name]="registre.icon" color="primary"></ion-icon>
      <ion-label>
        <h2>{{registre.text}}</h2>
        <p>{{registre.created | date: 'medium'}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
